/*----Pink Set----*/

/*Pink Arrow Only*/
* {cursor: url(https://imgur.com/fivXZDv.png), url(https://imgur.com/fivXZDv.png), auto !important;}
/*Pink Hand Only*/
/* {cursor: url(https://imgur.com/1avjHU0.png), url(https://imgur.com/1avjHU0.png), auto !important;}
/*----Green Set----*/

/*Green Arrow Only*/
/* {cursor: url(https://imgur.com/ShOFvKm.png), url(https://imgur.com/ShOFvKm.png), auto !important;}
/*Green Hand Only*/
/* {cursor: url(https://imgur.com/itYYuDd.png), url(https://imgur.com/itYYuDd.png), auto !important;}
/*----Cyan Set----*/

/*Cyan Arrow Only*/
/* {cursor: url(https://imgur.com/Xkyi2fK.png), url(https://imgur.com/Xkyi2fK.png), auto !important;}
/*Cyan Hand Only*/
/* {cursor: url(https://imgur.com/dodjVDQ.png), url(https://imgur.com/dodjVDQ.png), auto !important;}
/*----Dark Blue Set----*/

/*Dark Blue Only <- Thanks lolpowerluke for dark blue*/
/* {cursor: url(https://i.imgur.com/xHtwnLD.png), url(https://i.imgur.com/xHtwnLD.png), auto !important;}
/*Dark Blue Only*/
/* {cursor: url(https://i.imgur.com/pZccgWr.png), url(https://i.imgur.com/pZccgWr.png), auto !important;}

/* custom ones */
/* {cursor: url(https://imgur.com/EkaA94W.png), url(https://imgur.com/EkaA94W.png), auto !important;} /*Blue*/
/* {cursor: url(https://imgur.com/Bo9eggr.png), url(https://imgur.com/Bo9eggr.png), auto !important;} /*Pink*/
/* {cursor: url(https://i.imgur.com/vCgMRDg.png), url(https://i.imgur.com/vCgMRDg.png), auto !important;} /* BIG MONEY CURSOR */

/*delete the / lines before the * to active.
DO NOT DELETE the * itself.*/
